.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-width: var(--desktop-max-width);
  width: 100%;
  flex-grow: 1;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem var(--global-offset);
}

.control, .menu {
  background: transparent;
}

.controlIcon, .menuIcon {
  font-size: 2rem;
  color: black;
}

.date {
  font-family: var(--open-sans);
  font-size: 1.5rem;
}

.schedule {
  margin: 0 calc(var(--global-offset) - var(--card-padding));
}

@media screen and (max-width: 400px) {
  .date {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 300px) {
  .date {
    font-size: 1.125rem;
  }
}

@media (prefers-color-scheme: dark) {
  .controlIcon, .menuIcon {
    color: white;
  }
}
