.card {
  font-size: 1.125rem;
  font-family: var(--roboto);
  width: 100%;
  padding: var(--card-padding);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  border-radius: var(--border-radius);
  margin-bottom: 0.75rem;
}

.titleWrapper {
  margin-bottom: 0.5rem;
}

.titleWrapper,
.detailWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title, .titleValue {
  font-family: var(--open-sans);
  font-size: 1.125rem;
  font-weight: 700;
}

.title, .detail {
  width: 50%;
}

.titleValue, .detailValue {
  text-align: right;
  text-overflow: ellipsis;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}

.detailWrapper {
  margin-bottom: 0.125rem;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: rgba(255, 255, 255, 0.055);
  }
}
