.input {
  border: none;
  font-size: 1rem;
  font-family: var(--roboto);
  outline: 1px solid rgb(189, 189, 189);
  border-radius: var(--border-radius);
  background: none;
  transition: 0.1s ease;
  user-select: none;
  display: block;
}

.input:focus {
  outline: 2px solid var(--dark-green);
}
