.wrapper {
  width: 100%;
  position: relative;
}

.wrapper:not(:last-of-type) {
  margin-bottom: 1.75rem;
}

.input {
  border: none;
  width: 100%;
  padding: 0.85rem 0.5rem;
  font-size: 1rem;
  font-family: var(--roboto);
  outline: 1px solid rgb(189, 189, 189);
  border-radius: var(--border-radius);
  background: none;
  transition: 0.1s ease;
  user-select: none;
}

.input:focus {
  outline: 2px solid var(--dark-green);
}

/* Hide placeholder while input is focused */
.input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

/* Hide HTML placeholder */
.input::-webkit-input-placeholder {
  color: transparent;
}

.placeholder {
  position: absolute;
  top: 12px;
  left: 13px;
  font-family: var(--roboto);
  color: rgb(189, 189, 189);
  font-size: 1rem;
  transition: 0.3s ease;
  pointer-events: none;
  user-select: none;
}

/* Lifts placeholder a little bit while input under cursor */
.input:hover + .placeholder {
  top: 9px;
}

/* Change placeholder position when input is focused */
.input:focus + .placeholder,
/* or some input persists in field */
.input:not(:placeholder-shown).input:not(:focus)
+ .placeholder {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: -10px;
  padding: 0 3px;
  background-color: white;
  color: var(--dark-green);
}

/* Change placeholder's color while input persists */
.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
  color: rgb(189, 189, 189);
}

@media (prefers-color-scheme: dark) {
  .input {
    color: var(--dark-scheme-font-color);
  }

  /* Change placeholder color when input is focused */
  .input:focus + .placeholder,
  /* or some input persists in field */
  .input:not(:placeholder-shown).input:not(:focus)
  + .placeholder {
    background-color: var(--dark-scheme-bg-color);
  }
}
