.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  padding: 1rem var(--global-offset);
  max-width: var(--desktop-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }
}
